body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-image: url("elden-ring.gif");
    background-attachment: fixed;
    background-size:100% 100%;
}
body._lock {
    overflow: hidden;
}
header{
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 0px;
    z-index: 10;
}
header .container{
    min-width: 942px;
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    position:fixed;
    top: 0px;
    z-index: 5;
}
.menu_icon{
    display: none;
}

.header_menu{
    text-wrap: nowrap;
    width: 50%;
    height: 70px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    top: 0px;
    z-index: 5;
}
.header_menu_list{
    justify-self: start;
    width: 95%;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 16px;
    list-style-type: none;
    padding-inline-start: 0%;
}
.header_menu_list > li {
    position: relative;
}
.header_menu_list .menu_link {
    text-decoration: none;
    color: rgb(233, 216, 176);
    margin: 0 20px;
}
.header_menu_list a:hover {
    text-decoration: underline;
}
.header_menu_sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(0, 0, 0);
    padding: 10px 5px;
    min-width: 30px;
    list-style-type: none;
}
.header_menu_sub-list li{
    margin: 0px 0px 10px 0px;
}
.header_menu_sub-list li:last-child{
    margin: 0px;
}
.header_menu_sub-list a:hover {
    text-decoration: underline;
}
.menu_arrow{
    display: none;
}
/* ------------------------ */
body._pc .header_menu_list > li:hover .header_menu_sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

body._touch .header_menu_list > li {
    display: flex;
    align-items: center;
}   
body._touch .menu_arrow{
    display: block;
    width: 0;
    height: 0;
    margin: 2px 0px 0px 5px;
    transition: transform 0.3s ease 0s;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid rgb(233, 216, 176);
}


body._touch .header_menu_list > li._active .header_menu_sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}
body._touch .header_menu_list > li._active .menu_arrow {
    transform: rotate(-180deg);
}
/* ------------------------ */
@media (min-width: 769px) {
    .container{
        justify-content: space-between;
    }
    .header_menu_list{
        display: flex;
        align-items: center;
    }
    .header_menu_sub-list{
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease 0s;
    }
    .zaglav{
        text-align: center;
        margin-bottom: auto;
        font-size: 35px;
        color: white;
    }
    .information{
        margin: 30px 30px;
        font-size: 20px;
        color: rgb(233, 216, 176);
        line-height: 30px;
    }
    .menu_sub-link {
        color: rgb(233, 216, 176);
        text-decoration: none;
        margin: 0 20px;
    }
    .logo-text{
        font-size: 30px;
    }
    .logo{
        margin-right: 2%;
    }
    .osnova{
        margin: 48px 0px;
    }
    .iche a{
        font-size: 20px;
    }
    article{
        width: 65%;
    }
    aside{
        width: 28%;
    }
    .predlogenia{
        margin-left: 2.5%;
    }
    .icons{
        margin-left: 20px;
    }
}
@media (max-width: 768px) {
    .container{
        justify-content:space-around;
    }
    .menu_icon{
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        left: 29%;
    }
    .menu_icon span,
    .menu_icon::before,
    .menu_icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: rgb(233, 216, 176);
    }
    .menu_icon::before,
    .menu_icon::after{
        content: "";
    }
    .menu_icon::before{
        top:0;
    }
    .menu_icon::after{
        bottom: 0;
    }
    .menu_icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu_icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu_icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu_icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .menu_body{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 80px 0px 30px 0px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu_body._active {
        left: 0;
    }
    .menu_body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: rgb(20, 20, 20);
        z-index: 2;
    }
    .zaglav{
        font-size: 16px;
        text-align: center;
        margin-bottom: auto;
        color: white;
    }
    .information{
        margin: 30px 30px;
        font-size: 12px;
        color: rgb(233, 216, 176);
        line-height: 18px;
    }
    .header_menu_list > li {
        flex-wrap: wrap;
        margin: 0px 0px 35px 0px;
    }
    .header_menu_list > li._active .header_menu_sub-list{
        display: block;
    }
    .header_menu_list > li:last-child {
        margin-bottom: 0;
    }
    .menu_link {
        font-size: 24px;
    } 
    .header_menu_sub-list {
        position: relative;
        background-color: rgb(233, 216, 176);
        flex: 1 1 100%;
        margin: 25px 0 0 0;
        display: none;
    }
    .menu_sub-link {
        font-size: 20px;
        color: #000;
        text-decoration: none;
        margin: 0 20px;
    }
    .logo-text{
        font-size: 30px;
    }
    .logo{
        margin-right: 14%;
    }
    .osnova{
        margin: 48px 0px;
    }
    .iche a{
        font-size: 15px;
    }
    article{
        width: 65%;
    }
    aside{
        width: 28%;
    }
}
@media (max-width: 661px){
    .container{
        justify-content: space-around;
    }
    .menu_icon{
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        left: 43%;
    }
    .menu_icon span,
    .menu_icon::before,
    .menu_icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: rgb(233, 216, 176);
    }
    .menu_icon::before,
    .menu_icon::after{
        content: "";
    }
    .menu_icon::before{
        top:0;
    }
    .menu_icon::after{
        bottom: 0;
    }
    .menu_icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu_icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu_icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu_icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .menu_body{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 80px 0px 30px 0px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu_body._active {
        left: 0;
    }
    .menu_body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: rgb(20, 20, 20);
        z-index: 2;
    }
    .zaglav{
        font-size: 16px;
        text-align: center;
        margin-bottom: auto;
        color: white;
    }
    .information{
        margin: 30px 30px;
        font-size: 12px;
        color: rgb(233, 216, 176);
        line-height: 18px;
    }
    .header_menu_list > li {
        flex-wrap: wrap;
        margin: 0px 0px 35px 0px;
    }
    .header_menu_list > li._active .header_menu_sub-list{
        display: block;
    }
    .header_menu_list > li:last-child {
        margin-bottom: 0;
    }
    .menu_link {
        font-size: 24px;
    } 
    .header_menu_sub-list {
        position: relative;
        background-color: rgb(233, 216, 176);
        flex: 1 1 100%;
        margin: 25px 0 0 0;
        display: none;
    }
    .menu_sub-link {
        font-size: 20px;
        color: #000;
        text-decoration: none;
        margin: 0 20px;
    }
    .logo{
        margin-right: 19%;
    }
    .logo-text{
        font-size: 30px;
    }
    .osnova{
        margin: 48px 0px;
    }
    .iche a{
        font-size: 15px;
    }
    article{
        width: 65%;
    }
    aside{
        width: 28%;
    }
}
@media (max-width: 551px){
    .container{
        justify-content: space-around;
    }
    .menu_icon{
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        left: 58%;
    }
    .menu_icon span,
    .menu_icon::before,
    .menu_icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: rgb(233, 216, 176);
    }
    .menu_icon::before,
    .menu_icon::after{
        content: "";
    }
    .menu_icon::before{
        top:0;
    }
    .menu_icon::after{
        bottom: 0;
    }
    .menu_icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu_icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu_icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu_icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .menu_body{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 80px 0px 30px 0px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu_body._active {
        left: 0;
    }
    .menu_body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: rgb(20, 20, 20);
        z-index: 2;
    }
    .zaglav{
        font-size: 16px;
        text-align: center;
        margin-bottom: auto;
        color: white;
    }
    .information{
        margin: 30px 30px;
        font-size: 12px;
        color: rgb(233, 216, 176);
        line-height: 18px;
    }
    .header_menu_list > li {
        flex-wrap: wrap;
        margin: 0px 0px 35px 0px;
    }
    .header_menu_list > li._active .header_menu_sub-list{
        display: block;
    }
    .header_menu_list > li:last-child {
        margin-bottom: 0;
    }
    .menu_link {
        font-size: 24px;
    } 
    .header_menu_sub-list {
        position: relative;
        background-color: rgb(233, 216, 176);
        flex: 1 1 100%;
        margin: 25px 0 0 0;
        display: none;
    }
    .menu_sub-link {
        font-size: 20px;
        color: #000;
        text-decoration: none;
        margin: 0 20px;
    }
    .logo-text{
        font-size: 30px;
    }
    .logo{
        margin-right: 25%;
    }
    .osnova{
        margin: 48px 0px;
    }
    .iche a{
        font-size: 15px;
    }
    article{
        width: 65%;
    }
    aside{
        width: 28%;
    }
}
@media (max-width: 426px){
    .container{
        justify-content: space-around;
    }
    .menu_icon{
        left: 78%
    }
    .logo-text{
        font-size: 30px;
    }
    .logo{
        margin-right: 31%;
    }
    .osnova{
        margin: 50px 0 0 0;
    }
    .iche a{
        font-size: 15px;
    }
    .text{
        flex-direction: column-reverse;
    }
    aside {
        width: 95%;
        margin: auto;
    }
    article{
        width: 95%;
        margin: auto;
    }
    .predlogenia{
        margin-left: 6.5%;
    }
    .up{
        height: 30px;
    }
    .up a{
        font-size: 19px;
    }
}
@media (max-width: 376px){
    .container{
        justify-content: space-around;
    }
    .osnova{
        margin: 50px 0 0 0;
    }
    .text{
        flex-direction: column-reverse;
    }
    aside {
        width: 95%;
        margin: auto;
    }
    article{
        width: 95%;
        margin: auto;
    }
    .menu_icon{
        left: 83%
    }
    .logo-text{
        font-size: 30px;
    }
    .logo{
        margin-right: 32%;
    }
    .predlogenia{
        margin-left: 8.5%;
    }
    .icons{
        margin-left: -10px;
    }
    .niz{
        font-size: 13px;
    }
    .up{
        height: 30px;
    }
    .up a{
        font-size: 19px;
    }
}
@media (max-width: 321px){
    .container{
        justify-content: space-around;
    }
    .osnova{
        margin: 50px 0 0 0;
    }
    .text{
        flex-direction: column-reverse;
    }
    aside {
        width: 95%;
        margin: auto;
    }
    article{
        width: 95%;
        margin: auto;
    }
    .menu_icon{
        left: 83%
    }
    .logo-text{
        font-size: 24px;
    }
    .logo{
        margin-right: 34%;
    }
    .predlogenia{
        margin-left: 8.5%;
    }
    .icons{
        margin-left: -10px;
    }
    .niz{
        font-size: 13px;
    }
    .up{
        height: 30px;
    }
    .up a{
        font-size: 19px;
    }
}

.logo{
    z-index: 11;
    display: flex;
    align-items: center;
}
.logo-text{
    color: rgb(254, 171, 72);
    font-weight: bold;
    font-style: italic;
    font-family: initial;
}

/* ------------------------ */


main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}
.osnova{
    width: 90%;
    height: 100%;
    background-color: rgb(2, 6, 5, 0.8);
    color: rgb(174, 172, 170);
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
}
.nachalo_verh{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 18px;
}
.nachalo_verh.left{
    border-top: 3px solid rgb(233, 216, 176);
    border-left: 3px solid rgb(233, 216, 176);
}
.nachalo_verh.right{
    border-top: 3px solid rgb(233, 216, 176);
    border-right: 3px solid rgb(233, 216, 176);
}

.text{
    display: flex;
    justify-content: space-between;
}



article hr{
    height: 5px;
    background-color: white;
    margin-top: auto;
    width: 95%;
}
.predlogenia{
    width: 95%;
    height: 20%;
    margin-top: 5%;
    display: flex;
    align-items: center;
}
.row{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
}
.iche{
    height: 100%;
    width: 18%;
    display: flex;
    min-width: 94px;
    padding: 5px 0;
}
.iche a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    color: rgb(233, 216, 176);
}
.iche img{
    width: 100%;
}

aside hr{
    height: 5px;
    background-color: white;
    margin-top: auto;
    margin-bottom: 30px;
    width: 95%;
}
aside .images{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
aside .image{
    text-align: center;
    margin-bottom: 10%;
    
}
aside img{
    width: 90%;
    opacity: 1;
    position: relative;
}


/* ------------------------ */
footer{
    background-color: rgb(2, 6, 5);
    width: 100%;
    height: 50px;
    display: flex;
    position:fixed;
    bottom: 0%;
}
footer .container2{
    width: 90%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 5;
    top: 0px;
    margin-left: 5%;
}
footer nav{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}
footer nav .niz{
    margin-left: 5%;
}
.icons{
    display: flex;
    justify-content: start;
}
.icon_masg{
    margin-left: 5px;
    height: 100%;
    display: flex;
    align-items: center;
}

footer .up{
    border: 2px solid rgb(233, 216, 176);
    width: 70px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: rgb(233, 216, 176);
}

/* ----------------------- */

#t{
    display: grid;
    grid-template-columns: 27.5% 63.5%;
    gap: 7.5%;
}
.taside{
    width: 100%;
}
.tarticle{
    width: 100% ;
}
.talismans-info{
    display: grid;
    grid-template-columns: 31.5% 68.5%;
    width: 100%;
}


.container-image{
    height: 340px;
    padding-right: 12%;
    border-bottom: 5px solid #fff;
}
.picture img{
    max-width: 200px;
}
.stats{
    width: 100%;
}
.stats h2{
    margin: 0 0 0 0;
    color: rgb(233, 216, 176);
    text-align: center;
}
.stats p {
    color: rgb(233, 216, 176);
    text-align: center;
    margin: 5px 0 0px 0;
}
.stats hr{
    margin: 0 0 2px 0;
}



.container-info{
    height: 340px;
    border-bottom: 5px solid #fff;
    padding: 0 2% 0 7%;
}
.opis{
    height: 176px;
}
.container-info h2{
    margin: 0 0 0 0;
    color: rgb(233, 216, 176);
}
.container-info p{
    color: rgb(233, 216, 176);
    margin: 6px 0 0px 0;
    line-height: 22px;
}
.container-info hr{
    margin: 0 0 2px 0;
}
@media (min-width: 1239px){
    .picture{
        padding: 0 0 0 23%;
    }
}
@media(max-width: 1239px){
    .stats h2,
    .container-info h2{
        font-size: 24px;
    }
    .stats p,
    .container-info p{
        font-size: 16px;
    }
    .picture img{
        height: 100%;
        width: 89%;
    }
    .picture{
        height: 200px;
        padding: 0 0 0 12%;
    }
    .stats{
        height: 140px;
    }
    .afect-ves{
        height: 66px;
    }
    .container-info p{
        line-height: 22px;
    }
}
@media(max-width: 661px){
    .stats h2,
    .container-info h2{
        font-size: 16px;
    }
    .stats p,
    .container-info p{
        font-size: 12px;
    }
    .picture img{
        height: 100%;
        width: 89%;
    }
    .picture{
        height: 200px;
        padding: 0 0 0 12%;
    }
}
@media(max-width: 426px){
    .stats h2,
    .container-info h2{
        font-size: 16px;
    }
    .stats p,
    .container-info p{
        font-size: 12px;
    }
    .taside hr{
        margin: auto auto 8px auto;
    }
    .picture img{
        height: 70%;
        width: 90%;
        margin-top: 18%;
    }
    .picture{
        height: 115px;
        padding: 0 0 0 12%;
    }
    .stats{
        height: 225px;
    }
    .afect-ves{
        height: 112.5px;
    }
    .container-info p {
        line-height: 14px;
    }
}
